.word {
    margin: 2px;
    width: fit-content;
    display: inline-block;
}

.textcontainer {
    width: 80em;
}

.subst:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.link {
    display: inline-block;
    margin: 2px;
    background-color: aquamarine;
    text-decoration: none;
    width: 100px;
    height: 20px;
    align-content: center;
    padding: 5px;
}

.wordinfo {
    width: 200px;
    height: 70px;
    background-color: aquamarine;
    padding: 5px;
}

.userword {
    background-color: yellow;
}

li {
    margin: 10px;
}

.wordlist {
    text-decoration: underline;
    cursor: pointer;
}

.topic {
    border-radius: 3px;
    background-color: coral;
    padding: 4px;
    margin: 2px;
    text-decoration: none;
}

textarea {
    width: 750px;
    height: 450px;
}

.source {
    width: 180px;
    height: 30px;
    margin: 5px;
}